name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore IvyBot/IvyBot/IvyBot.csproj
    - name: Build
      run: dotnet build IvyBot/IvyBot/IvyBot.csproj --configuration Release --no-restore
    - name: Test
      run: dotnet test IvyBot/IvyBot/IvyBot.csproj --no-restore --verbosity normal
    - name: Publish
      run: dotnet publish IvyBot/IvyBot/IvyBot.csproj
    - name: Upload build artifact
      uses: actions/upload-artifact@v2
      with:
        name: IvyBot
        path: /home/runner/work/IvyBot/IvyBot/IvyBot/IvyBot/bin/Debug/net5.0/publish/
